/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles and utilities */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
/* top part styles */

.top-banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    background-color: #2D25A0;
    
}
.banner-texts{
    font-size: 22px;
    color: white;
}
.link-button{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 5px 5px;
    border-radius: 5px;
    
}
.banner-img img{
    width: 556px;
    height: 438px;
}
.banner-img:hover{
    transform: rotate(360deg);
    transition: transform 3s;
}
/* first middle part styles */

.first-middle-part{
    background-color: lightgray;
}

.players-biodata{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
.player{
    background-color: white;
    margin: 50px 50px;
    padding: 10px 10px;
    border-radius: 15px;
}
.players-biodata .player img{
    width: 330px;
    height: 237px;
}
/* second middle part styles */

.second-middle{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 40px;
    padding: 20px 20px;
}
.second-middle img{
    width: 567px;
    height: 427px;
}
/* last part */
.last-part{
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   justify-items: center;
}
.last-part .logo-1 img{
    width: 200px;
    height: 60px;
}
.last-part .logo-2 img{
    width: 50px;
    height: 50px;
}
/* footer style */
footer{
    text-align: center;
    margin: 20px 20px;
}
/* media queries */
/* mobile devices */
@media only screen and (max-width:688px){
    .common-class{
        width: 100%;    
    }  
    .common-class{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    .banner-texts{
        font-size: 15px;
        text-align: center;
    }
    .second-middle-info{ 
        font-size: 12px;
        text-align: center;
    }
    }
    


